{% extends 'portfolio/index.html' %}

{% block content %}
<!-- Main -->
<h1>About Me</h1>
<span class="image main"><img src="../../static/portfolilo/images/myImage%20copy.jpg" alt="" style="display: block;margin-left: auto;margin-right: auto; width: 50%;"/></span>
<p style="color: black">I am passionate about stories that data tell empowering people to analyze any content from any part of the world.
<br/>I plan to study Artificial Intelligence and Machine Learning in my later studies to understand the world better and solve problems that can make lasting benefits to society.
<br/>I have been involved in Data Science Team at <a href="https://www.healthandhumanperformancelab.com/">Health and Human Performance Lab</a> at Carnegie Mellon University. My current research interest lies in using statistics, psychology, and machine learning to understand human emotions.
<br/>In my free time, I love practicing Yoga, cooking, and listening to old record pop songs! Feel free to reach out to me! I would love to chat!</p>
{% endblock %}