{% extends 'portfolio/index.html' %}

{% block content %}
<!-- Main -->
<h1>About Me</h1>
<span class="image main"><img src="../../static/portfolilo/images/myImage%20copy.jpg" alt="" style="display: block;margin-left: auto;margin-right: auto; width: 50%;"/></span>
<p style="color: black">I am passionate about building products using data that help people make meaningful insights and important decisions.
<br/>I am interested in studying statistics and data science in my further studies to understand the world better and solve problems that can make lasting benefits to society.
<br/>In my free time, I love practicing Yoga, cooking, and listening to old record pop songs! Feel free to reach out to me! I would love to chat!</p>
{% endblock %}