<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <section>
            <h2>Contact Me!</h2>
            <form action = "{% url 'create-post' %}" method="post">
                {% if form_error %}
                    <div class="error-message">
                        <div class="alert alert-danger">
                            <h4>Please Fill out all forms correctly</h4>
                        </div>
                    </div>
                {% endif %}
                {% csrf_token %}
                <div class="fields">
                    <div class="field half">
                        <input type="text" name="name" id="name" placeholder="Name" />
                    </div>
                    <div class="field half">
                        <input type="email" name="email" id="email" placeholder="Email" />
                    </div>
                    <div class="field">
                        <textarea name="message" id="message" placeholder="Message"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Submit" class="primary" /></li>
                </ul>
            </form>
        </section>
        <section>
            <h2>Contact Info</h2>
            <ul class="icons">
                <li><a href="https://www.linkedin.com/in/estheryeju/" class="icon brands style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://github.com/YejuAhn" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
                <li><a class="modal-button icon solid style2 fa-phone" href="#phoneModal"><span class="label">Phone</span></a></li>
                <li><a class="modal-button icon solid style2 fa-envelope" href="#emailModal"><span class="label">Email</span></a></li>
            </ul>
            <div id="phoneModal" class="modal">
              <!-- Modal content -->
              <div class="modal-content" style = "text-align: center">
                <span class="close">&times;</span>
                <p style="font: inherit; font-size: 1.5em;">🇺🇸Currently unavailable<br/>🇰🇷+82-10-7431-9557</p>
              </div>
            </div>
            <div id="emailModal" class="modal">
              <!-- Modal content -->
              <div class="modal-content" style = "text-align: center">
                <span class="close">&times;</span>
                <p style="font: inherit; font-size: 1.5em">📩esther98yeju@gmail.com</p>
              </div>
            </div>
        </section>
        <ul class="copyright">
            <li>&copy; Esther Yeju Ahn's Web. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP Forty</a></li>
        </ul>
    </div>
</footer>