{% extends 'portfolio/index.html' %}

{% block content %}
<!-- Main -->
<a href="{{ project.link }}">
<h1>{{project.project_title}}</h1>
</a>
<span class="image main">
    {% if project.detail_image %}
        <img src="{{ project.detail_image.url }}" alt=""/>
    {% else %}
        <img src="{{ project.image.url }}" alt=""/>
    {% endif %}
</span>
<p>{{ project.description }}</p>
<p>{{ project.lesson_learned }}</p>
  <a href="{{ project.link }}">
    <p>Check it out on {{ project.link }}</p>
    </a>
{% endblock %}