.contact{
    grid-column: 1/2;
    grid-row: 2/2;
}

.block{
    width: 100px;
}


.block a {
    color: #000000;
    text-decoration: none; /* no underline */
}

.block a:hover
{
    color:#a333c8;
    text-decoration:none;
    cursor:pointer;
}



