.allAboutMe{
    margin-left: 50px;
    margin-right: 50px;
}

.row {
    margin-top : 50px;
}

#colOne {
    float: left;
    width: 60%;
    margin-top : 70px;
    padding : 10px;
}

#colTwo {
    float: left;
    width: 40%;
    padding : 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.myName {
    font-size: 60px;
}

.myInfo{
    margin-top: 40px;
}
